.DS_Store
dist/
build/*
!build/icons
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
coverage
.nyc_output
.idea
yarn-error.log
bazel-*
.ijwb

/tests/e2e/logs/
.env.local
.env.*.local
npm-debug.log*

.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Electron-builder output
/dist_electron